<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.engulf.dao.BookMapper">
    <select id="selectBookById" resultType="books">
        select * from ssmbuild.books where bookID = #{id}
    </select>
    <select id="selectAllBooks" resultType="books">
        select * from ssmbuild.books
    </select>
    <select id="selectLikeBooks" parameterType="string" resultType="books">
        select * from ssmbuild.books where bookName like concat('%',#{bookName},'%')
    </select>
    <insert id="addBook" parameterType="books">
        insert into ssmbuild.books (bookID, bookName, bookCounts, detail)
        VALUES (#{bookID},#{bookName},#{bookCounts},#{detail})
    </insert>
    <delete id="delBook" parameterType="int">
        delete from ssmbuild.books where bookID = #{id}
    </delete>
    <update id="updateBook" parameterType="books">
        update ssmbuild.books
        set bookName = #{bookName},bookCounts = #{bookCounts},detail = #{detail}
        where bookID = #{bookID}
    </update>
</mapper>